<h1 class="mb-4 text-center">Predict your future and unveil your past</h1>
<img src="../../../assets/sun.png" alt="" class="sun">
<form>
<select class="form-select" aria-label="Default select example"
        formControlName="horoscope"
        (change)="onChangeSign($event)"
>
  <option selected>Select your sign</option>
  <option value="aries">Aries</option>
  <option value="taurus">Taurus</option>
  <option value="gemini">Gemini</option>
  <option value="cancer">Cancer</option>
  <option value="leo">Leo</option>
  <option value="virgo">Virgo</option>
  <option value="libra">Libra</option>
  <option value="scorpio">Scorpio</option>
  <option value="sagittarius">Sagittarius</option>
  <option value="capricorn">Capricorn</option>
  <option value="aquarius">Aquarius</option>
  <option value="pisces">Pisces</option>
</select>

<select class="form-select mt-3"
        aria-label="Default select example"
        formControlName="day"
        (change)="onChangeDay($event)"
        >
  <option selected>Select the day's reading</option>
  <option value="today">Today</option>
  <option value="yesterday">Yesterday</option>
  <option value="tomorrow">Tomorrow</option>
</select>

<div class="d-grid gap-2">
  <button data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-secondary btn-lg mt-3" (click)="onSubmit()">I'm ready for the truth</button>
</div>
</form>

<!---->
