

<table class="table">
  <tbody>
  <tr>
    <td colspan="2"><strong><h4 class="text-center">The cards have predicted the follow...</h4></strong></td>
  </tr>
    <tr>
      <td colspan="2"><img src="../../../assets/tarot.png" alt="" class="tarot"></td>
    </tr>
  <tr>
    <th scope="row">Mood</th>
    <td >{{horoscopeData$.mood }}</td>
  </tr>
  <tr>
    <th scope="row">Current Date</th>
    <td>{{horoscopeData$.current_date }}</td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td >{{horoscopeData$.description }}</td>
  </tr>
  <tr>
    <th scope="row">Compatibility</th>
    <td >{{horoscopeData$.compatibility }}</td>
  </tr>
  <tr>
    <th scope="row">Lucky Number</th>
    <td>{{horoscopeData$.lucky_number }}</td>
  </tr>
  <tr>
  <tr>
    <th scope="row">Lucky Time</th>
    <td>{{horoscopeData$.lucky_time }}</td>
  </tr>
  <tr>
    <th scope="row">Color</th>
    <td>{{horoscopeData$.color }}</td>
  </tr>
  <tr>
    <th scope="row">Date Range</th>
    <td>{{horoscopeData$.date_range }}</td>
  </tr>
  </tbody>
</table>
