<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand m-5" href="#">
      <img src="../assets/160494.svg" class="image-logo">
    </a>
  </div>
</nav>
<div class="container mt-5 mb-5">

  <div class="card">
    <div class="card-header text-center">
      The Horoscope
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <router-outlet></router-outlet>
      </blockquote>
    </div>
  </div>
</div>



<div class="container-fluid text-center bg-body-tertiary text-center">
<div class="quote p-5">
  <i>“Astrology reveals the will of the gods"</i><br>
  <i><strong>—  Juvenal</strong></i>
</div>
</div>
