/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Zen+Kurenaido&display=swap');

body {
  font-family: 'Inconsolata', monospace;
  font-family: 'Zen Kurenaido', sans-serif;
}

.container {
  width: 30%;
}

.image-logo {
  max-width: 100%;
  height: 200px;
}

.tarot,
.sun{
  max-width: 100%;
  height:100%;
}

.quote {
  width: 35%;
  margin: auto;
  line-height: 1.8rem;
}

table {
  font-size: 16px;
}
